body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Polaris-Button.Polaris-Button--pressed {
  background: #0a83ee !important;
  box-shadow: var(--p-shadow-inset-md);
  color: var(--p-color-text-on-color);
  border-color: #5caff8;
}

.container {
  /* padding: 30px !important; */
  padding-right: 45px !important;
  padding-left: 45px !important;
}
.textfield {
  width: 120px !important;

  padding-bottom: 10px;
  border-radius: 100px !important;
  /* padding-bottom: 40px; */
}
.Polaris-Button--sizeLarge {
  /* border-radius: 20px !important; */
  width: 170px;
  height: 70px;
  border-radius: 10px !important;
}
.Polaris-Button--monochrome {
  border-radius: 15px !important;
}
.Polaris-TextField__Backdrop {
  border-radius: 7px !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  outline: #000000 solid 1px;
}
.Polaris-TextField__Spinner {
  visibility: visible !important;
}
.Polaris-Button--primary {
  background: #2463bc !important;
  width: 100px !important;
  border-radius: 7px !important;
  padding: 12px !important;
}
.Polaris-Button--destructive {
  background: rgb(220, 42, 42) !important;
  width: 100px !important;
  border-radius: 7px !important;
  padding: 12px !important;
}
